{% extends "../base.html" %}

{% block title %}Cart Items{% endblock title %}
{% load static %}

{% block content %}

    <!-- Page Add Section Begin -->
    {% if cart %}
    <section class="page-add cart-page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h3>Cart({{cart|length}})</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!-- Page Add Section End -->

    <!-- Cart Page Section Begin -->
    <div class="cart-page">
        <div class="container">

            <div class="row py-2">
                {% if messages %}
                {% include "../message.html" %}
                {% endif %}
            </div>
            {% if cart %}
            <div class="cart-table">
                <table>
                    <thead>
                        <tr>
                            <th class="product-h">Product</th>
                            <th>Price</th>
                            <th class="quan">Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                        {% with product=item.product %}
                        <tr>
                            <td class="product-col">
                                <img style="height: 100px; width: 100px;" src="{{product.thumbnail}}" alt="">
                                <div class="p-title">
                                    <h5>{{product.title}}</h5>
                                </div>
                            </td>
                            <td class="price-col">${{product.price|floatformat:"2"}}</td>
                            <td class="quantity-col">
                                <div class="pro-qty ">
                                    <a class="text-decoration-none text-dark" href="?product_id={{product.id}}&&quantity=-1">
                                        <span class="dec qtybtn">-</span>
                                    </a>
                                    <input disabled value=" {{item.quantity}}">
                                    <a class="text-decoration-none text-dark" href="?product_id={{product.id}}&&quantity=1">
                                        <span class="inc qtybtn">+</span>
                                    </a>
                                </div>
                            </td>
                            <td class="total">${{item.sub_total|floatformat:"2"}}</td>
                            <td class="product-close">
                                <a class="text-decoration-none text-dark" href="?product_id={{product.id}}&&quantity=-{{item.quantity}}">
                                    X
                                </a>
                            </td>
                            
                        </tr>
                        {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
                <div class="total-info mt-5" >
                    <div class="total-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Total</th>
                                    <th>Discount</th>
                                    <th class="total-cart">Total Cart</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="total">${{cart.total|floatformat:2}}</td>
                                    {% if cart.coupon %}
                                    <td class="sub-total">${{cart.discount|floatformat:2}}</td>
                                    {% else %}
                                    <td class="sub-total">$0</td>
                                    {% endif %}
                                    <td class="total-cart-p">${{cart.cart_total|floatformat:2}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="cart-btn">
                <div class="row">
                    <div class="col-lg-6">
                        <form action="{% url "add_coupon" %}" method="POST">
                            {% csrf_token %}
                            <div class="coupon-input">
                                <input name="code" type="text" placeholder="Enter cupone code">
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-5 offset-lg-1 text-left text-lg-right">
                        <div class="site-btn clear-btn">
                            <a class="text-decoration-none text-dark" href="?clear_cart=true">Clear Cart</a>
                        </div>

                       <div class="site-btn chechout-btn"> 
                        <a href="{% url "checkout" %}" class="text-decoration-none text-dark">Checkout</a>
                       </div>
                    </div>
                </div>
                {% else %}
                {% include "../no-cart.html" %}
                {% endif %}
            </div>
        </div>
        
       

{% endblock content %}