{% extends "../base.html" %}
{% load static %}

{% block title %}Check Mail | Dj_Ecommearce{% endblock title %}

{% block content %}

    <!-- Page Add Section Begin -->
    <section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-breadcrumb text-center">
                        <h3>Password reset mail sent</h3>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Add Section End -->

    <!-- Contact Section Begin -->
    <div class="contact-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="contact-form mx-auto text-center">
                        <div class="row">
                            <div class="col-lg-12">
                                <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{% endblock content %}