{% extends "../base.html" %}
{% load static %}

{% block title %}Checkout{% endblock title %}


{% block links %}
<style>
    #paypal-button-container {
        display: None;
    }
    .paypal-title {
        display: None;
    }
</style>

{% endblock links %}


{% block content %}

<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-breadcrumb text-center checkout-title">
                    <h2>Checkout Your Cart</h2>
                </div>
                <div class="page-breadcrumb text-center paypal-title">
                    <h2>Pay Your Bill</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="contact-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
               
            </div>
            <div class="col-md-6">

                <div id="paypal-button-container"></div>
                {% if messages %}
                {% include "message.html" %}
                {% endif %}
                <form id="checkout-form" class="contact-form mx-auto " method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12">

                            <div>
                                <input name="first_name" type="text" placeholder="First Name">
                                <small id="error_first_name" class="text-danger"></small>
                            </div>
                            <div>
                                <input name="last_name" type="text" placeholder="Last Name">
                                <small id="error_last_name" class="text-danger"></small>
                            </div>
                            <div>
                                <input name="email" type="email" placeholder="E-Mail">
                                <small id="error_email" class="text-danger"></small>
                            </div>
                            <div>
                                <input name="city" type="text" placeholder="City">
                                <small id="error_city" class="text-danger"></small>
                            </div>
                            <div>
                                <input name="zip_code" type="text" placeholder="Zip Code">
                                <small id="error_zip_code" class="text-danger"></small>
                            </div>
                            <div>
                                <input name="address" type="text" placeholder="Address">
                                <small id="error_address" class="text-danger"></small>
                                
                            </div>
                            

                        </div>
                        <div class="col-lg-12 mt-2">
                            <button class="btn-block" type="submit">Pay</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block extra_script %}
<script src="https://www.paypal.com/sdk/js?client-id=AZdT6Ph9_LDfVnT6BIoLD2-Wo-A_PBWZrnXSpAdehb1QEZAQCr6dXKZajg6vpvzPLMkb7oKICfNsab70&currency=USD"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    
    const paypalCheckout = document.getElementById('paypal-button-container');
    const form = document.getElementById('checkout-form');
    const csrfmiddlewaretoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const checkoutTitle = document.querySelector('.checkout-title');
    const paypalTitle = document.querySelector('.paypal-title');
    let formIsValid = false;
    const total = {{cart.cart_total}}

    const validateFormAndCheckout = () => {
        const url = '/checkout/';
        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken' : csrfmiddlewaretoken
            },
            body: new FormData(form)
        })
        .then(response => {
            return response.json();
        })
        .then(data => {
           if (data.success) {
                formIsValid = true;
                new FormData(form).forEach((value, key)=> {
                    if (key != 'csrfmiddlewaretoken') {
                        document.getElementById(`error_${key}`).innerText = '';
                    }
                })
                paypalCheckout.style.display = 'block';
                form.style.display= 'None';
                paypalTitle.style.display = 'block';
                checkoutTitle.style.display= 'None';

           }
           else{
            let errors = data.errors;
            formIsValid = false;
            new FormData(form).forEach((value, key)=> {
                    if (key != 'csrfmiddlewaretoken') {
                        document.getElementById(`error_${key}`).innerText = '';
                    }
                });
            Object.keys(errors).forEach(key =>{
                document.getElementById(`error_${key}`).innerText = errors[key].join('');
            })
            
            console.log('Invalid')
           }
        })
        .catch(error =>{
            console.log(error)
        })
    };
    
    form.addEventListener('submit', (event) => {
        event.preventDefault();
        validateFormAndCheckout();
    });

    paypal.Buttons({

        // Call your server to set up the transaction
        createOrder: (data, actions) => {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value : parseFloat(total).toFixed(2)
                    }
                }]
            })
        },

        // Call your server to finalize the transaction
        onApprove: (data, actions) => {
            return actions.order.captures().then(function(orderData) {

                // Successful capture! For demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                const amount = parseFloat(transaction.amount.value).toFixed(2);
                const transactionId = transaction.id;
                let customer = {};
                new FormData(form).forEach((value, key) => {
                    customer[key] = value;
                })
                delete customer['csrfmiddlewaretoken'];
                customer['amount'] = amount;
                customer['transactionId'] = transactionId;


                fetch('/save-order/', {
                    method:'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken' : csrfmiddlewaretoken
                    },
                    body: JSON.stringify(customer)
                })
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    console.log(data)
                })
                .catch(error => {
                    console.error('Error:', error);
                })
                Swal.fire(
                    'Thank you!',
                    'Your payment request is done!',
                    'success'
                    )
            });
        }

    }).render('#paypal-button-container');

</script>
{% endblock extra_script %}